<main class="grey lighten-5">
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">add</i>
    </a>
    <ul>
      <li><a class="btn-floating red" href="/pacientes/registro"><i class="material-icons">fiber_new</i></a></li>
      <li><a href="#modalBuscar" id="btnBuscar" class="btn-floating yellow darken-1 modal-trigger"><i class="material-icons">search</i></a></li>
      <li><a href="/doctor/panel" id="btnAtender" class="btn-floating blue darken-1"><i class="material-icons">done</i></a></li>
    </ul>
  </div>
  
  <div class="row">
    <div class="col m12 valign-wrapper" id="header-doctor">
      <h2 class="white-text"><span class="center">Consulta del Dr. <span id="doctor accent">doctor.Apellido</span></span></h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      
    </div>
  </div>
  <div id="modalBuscar" class="modal">
    <div class="modal-content">
      <div class="row">
      	<h4 class="center">Buscar Paciente por Numero de Cedula</h4>
      </div>
      <form class="row">
        <div class="col m12 input-field">
          <input placeholder="12345678" id="buscarCedula" type="text" class="validate">
          <label for="pesoPaciente">Cédula de Identidad</label>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Buscar</a>
    </div>
  </div>



</main>
<footer class="blue darken-1 page-footer">
  <div class="row">
    <div class="col s12">
      <p class="center white-text"> © 2017 <span class="accent">MedicType Team.</span></p>
    </div>
  </div>
</footer>
