<main class="grey lighten-5">
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">add</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">save</i></a></li>
      <li><a class="btn-floating blue darken-1"><i class="material-icons">arrow_back</i></a></li>
    </ul>
  </div>
  
  <div class="row">
    <div class="col m12 valign-wrapper" id="header-doctor">
      <h2 class="white-text"><span class="center">Consulta del Dr. <span id="doctor accent">doctor.Apellido</span></span></h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="card-panel">
            <div class="row">
              <h4 class="center">Datos del Paciente</h4>
            </div>
            <div class="row">
              <div class="col m6">
                <p>Nombre: <span id="nombrePaciente">paciente.nombre paciente.apellido</span></p>
              </div>
              <div class="col m6">
                <p>Edad: <span id="nacimientoPaciente">paciente.edad</span> <span id="edad"></span></p>
              </div>
            </div>
            <div class="row">
              <div class="col m6">
                <p>Tipo de Sangre: <span id="sangrePaciente">paciente.tipodeSangre</span></p>
              </div>
              <div class="col m6">
                <p>Direccion: <span id="direccionPaciente">paciente.direccion</span> <span id="edad"></span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card-panel">
            <div class="row">
              <h4 class="center">Condición actual del Paciente</h4>
            </div>
            <form class="row">
              <div class="col m6 input-field">
                <input placeholder="120" id="pesoPaciente" type="text" class="validate">
                <label for="pesoPaciente">Peso (Kg)</label>
              </div>
              <div class="col m6 input-field">
                <input placeholder="1.80" id="tallaPaciente" type="text" class="validate">
                <label for="tallaPaciente">Talla (m)</label>
              </div>
            </form>
            <form class="row">
              <div class="col m6 input-field">
                <input placeholder="120" id="tensionPaciente" type="text" class="validate">
                <label for="tensionPaciente">Tension Arterial</label>
              </div>
              <div class="col m6 input-field">
                <input placeholder="37.5" id="temperaturaPaciente" type="text" class="validate">
                <label for="temperaturaPaciente">Temperatura(°C)</label>
              </div>
            </form>
            <form class="row">
              <div class="col m6 input-field">
                <input placeholder="13" id="fRespiratoriaPaciente" type="text" class="validate">
                <label for="fRespiratoriaPaciente">Frecuencia Respiratoria(N por min)</label>
              </div>
              <div class="col m6 input-field">
                <input placeholder="120/80" id="fcardiacaPaciente" type="text" class="validate">
                <label for="fcardiacaPaciente">Frecuencia Cardiaca</label>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="card-panel">
            <div class="row">
              <h4 class="center">Diagnostico</h4>
            </div>
            <form class="row">
              <div class="col m6 input-field">
                <select id="listaPatologias">
                  <option value="" disabled selected>Choose your option</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
                <label>Patologia Diagnosticada</label>
              </div>
              <div class="col m6 input-field">
                <input placeholder="Cefalea" id="newPatologia" type="text" class="validate">
                <label for="newPatologia">Otra Patologia</label>
              </div>
            </form>
            <form class="row">
              <div class="col m6 input-field">
                <select id="listaPatologias" multiple>
                  <option value="" disabled selected>Choose your option</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
                <label>Medicamento Diagnosticada</label>
              </div>
              <div class="col m6 input-field">
                <input placeholder="Atamel 500mg" id="newMedicamento" type="text" class="validate">
                <label for="newMedicamento">Nuevo Medicamento</label>
              </div>
            </form>
            <form class="row">
              <div class="col m12 input-field">
                <textarea id="indicaciones" class="materialize-textarea"></textarea>
                <label for="indicaciones">Indicaciones</label>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="card-panel">
            <div class="row">
              <h4 class="center">Observaciones</h4>
            </div>
            <form class="row">
              <div class="col m12 input-field">
                <textarea id="observaciones" class="materialize-textarea"></textarea>
                <label for="observaciones">Observaciones Adicionales</label>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="card-panel">
            <div class="row center">
              <a class="waves-effect waves-light btn blue darken-1" id="btnTerminar">Terminar Consulta</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div id="modalBuscar" class="modal">
    <div class="modal-content">
      <div class="row">
      	<h4 class="center">Buscar Paciente por Numero de Cedula</h4>
      </div>
      <form class="row">
        <div class="col m12 input-field">
          <input placeholder="12345678" id="buscarCedula" type="text" class="validate">
          <label for="pesoPaciente">Cédula de Identidad</label>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Buscar</a>
    </div>
  </div>



</main>
<footer class="blue darken-1 page-footer">
  <div class="row">
    <div class="col s12">
      <p class="center white-text"> © 2017 <span class="accent">MedicType Team.</span></p>
    </div>
  </div>
</footer>
