<main>
  <div class="row">
  		<div class="col m1"></div>
      <div class="col m2 s12">
        <div class="card-panel">
          <a class="waves-effect waves-light btn">Nuevo Paciente</a>
          <br>
          <br>
          <a class="waves-effect waves-light btn">Buscar Paciente</a>
        </div>
      </div>
      <div class="col m8 s12">
        <div class="row">
          <div class="col s12">
            <h2>Consulta del Dr. Doctor</h2>
          </div>
        </div>
        <div class="row">
        	<div class="col m6">
        		<p>Nombre Completo: <span id="nombre-user"></span></p>
        	</div>
        	<div class="col m6">
        		<p>Fecha Nacimiento: <span id="nacimiento-user"></span> <span id="edad"></span></p>
        	</div>
        </div>
      </div>
      <div class="col m1"></div>
    </div>
</main>
<footer class="blue darken-1 page-footer">
  <div class="row">
    <div class="col s12">
      <p class="center white-text"> © 2017 <span class="accent">MedicType Team.</span></p>
    </div>
  </div>
</footer>
