
<header>
  <nav class=" blue darken-1">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo accent center">MedicType</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="doctor.html">Doctor</a></li>
        <li><a href="paciente.html">Paciente</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="doctor.html">Doctor</a></li>
        <li><a href="paciente.html">Paciente</a></li>
      </ul>
    </div>
  </nav>
</header>


<main id="index-main">
  <section id="welcome">
    <div class="container">
      <div class="row">
        <div class="col m2"></div>
        <div class="col m8">
          <div class="card-panel blue darken-1 white-text">
            <h4 class="center">Bienvenido</h4>
            <p>Bienvenido a <span class="accent">MedicType</span> Un sistema de Gestión de Historias médica pensando en la comodida de médicos y pacientes</p>
            <p class="center">Seleccione su tipo de usuario:</p>
            <div class="card-action center">
              <a class="waves-effect waves-light btn grey darken-3" href="doctor.html">Doctor</a>
              <a class="waves-effect waves-light btn grey darken-3" href="paciente.html">Paciente</a>  
            </div>
          </div>
          
        </div>
        <div class="col m2"></div>
      </div>
    </div>
  </section>
</main>


<footer>
</footer>
