

<main id="index-main">
  <section id="welcome">
    <div class="container">
      <div class="row">
        <div class="col m2"></div>
        <div class="col m8">
          <div class="card-panel blue darken-1 white-text">
            <h4 class="center">Bienvenido</h4>
            <p>Bienvenido a <span class="accent">MedicType</span> Un sistema de Gestión de Historias Médicas pensado en la comodidad de médicos y pacientes</p>
            <p class="center">Seleccione su tipo de usuario:</p>
            <div class="card-action center">
              <a class="waves-effect waves-light btn grey darken-3" href="/login">Doctor</a>
              <a class="waves-effect waves-light btn grey darken-3"  href="/paciente-home">Paciente</a>  
            </div>
          </div>
          
        </div>
        <div class="col m2"></div>
      </div>
    </div>
  </section>
</main>

