<!DOCTYPE html>
<html lang="es">

<head>
  <title> MedicType </title>
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta charset="utf-8">
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/materialize.css">
</head>
<body>
  <header>
    <nav class=" blue darken-1">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo accent center">MedicType</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
          <li><a href="/">Home</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="/login">Doctor</a></li>
          <li><a href="/paciente-home">Paciente</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/">Home</a></li>
          <li><a href="/login">Doctor</a></li>
          <li><a href="/paciente-home">Paciente</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <%- body %>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-3.2.1.js"></script>
    <script src="/js/dependencies/materialize.js"></script>
    <script src="/js/main.js"></script>

    <footer class="blue darken-1 page-footer">
  <div class="row">
    <div class="col s12">
      <p class="center white-text"> © 2017 <span class="accent">MedicType Team.</span></p>
    </div>
  </div>
</footer>








</body>

</html>
