<main class="grey lighten-5">
  <div class="row">
      <div class="col m12 valign-wrapper" id="header-doctor">
      <h2 class="white-text"><span class="center">Pantalla de Acceso</span></span></h2>
      </div>
  </div>
  <div class="container">
    <form method="POST" action="/Medico/Home" class="row">
       <div class="col m3">
         
       </div>
        <div class="col m6 input-field" align="center">
          <input placeholder="12345678" id="cedula" name="cedula" type="text" class="validate">
          <label for="cedula">Cédula</label>
          <span class="center">
          <button align = "center" class="waves-effect waves-light btn blue darken-1" type="submit" style="margin-bottom: 10px">Entrar</button> 
          </span>  
          <div>
          <span class="center">
          <button align = "center" class="waves-effect waves-light btn blue darken-1" type="submit">Registrar Medico</button>
          </span>
          </div>
        </div>
  </form>
      </div>
</main>

