paciente.ejs
<main>
      <div class="col m8 s12">
        <div class="row">
          <div class="col s12">
            <h2><center>Información Pacientes</center></h2>
          </div>
        </div>
        <br>
        <div class="row">
        	<div class="col m6">
        		<p>Cedula: <span id="cedula-user"></span></p>
        	</div>
        	<div class="col m6">
        		<p>Nombre Completo: <span id="nombre-user"></span></p>
        	</div>
        	<div class="col m6">
        		<p>Fecha Nacimiento: <span id="nacimiento-user"></span> <span id="edad"></span></p>
        	</div>
        	<div class="col m6">
        		<p>Sexo: <span id="sexo-user"></span></p>
        	</div>
        </div>
      </div>
      <div class="row">
        	<div class="col m6">
        		<p>Cedula: <span id="cedula-user"></span></p>
        	</div>
        	<div class="col m6">
        		<p>Fecha: <span id="fecha-informe"></span></p>
        	</div>
        	<div class="col m6">
        		<p>Contenido: <span id="contenido-informe"></span></span></p>
        	</div>
        </div>
      </div>
      <div class="col m1"></div>
    </div>
</main>
<footer class="blue darken-1 page-footer">
  <div class="row">
    <div class="col s12">
      <p class="center white-text"> © 2017 <span class="accent">MedicType Team.</span></p>
    </div>
  </div>
</footer>

<script>
	window.alert("HOLA MNUNDO");
</script>