<main class="grey lighten-5">
  <div class="row">
    <div class="col m12 valign-wrapper" id="header-doctor">
      <h2 class="white-text"><span class="center">Pantalla de Acceso</span></span></h2>
    </div>
  </div>
  <div class="container">
  	<div class="row card-panel">
  		<form method="POST" action="/medico/crear" class="col m12">
  			<div class="row">
  				<div class="col m6 input-field">
  					<input placeholder="Pedro" name="Nombre" type="text" class="validate">
            <label for="Nombre">Nombre</label>
  				</div>
  				<div class="col m6 input-field">
  					<input placeholder="Pérez" name="Apellido" type="text" class="validate">
            <label for="Apellido">Apellido</label>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col m6 input-field">
  					<input placeholder="12345678" name="Cedula" type="text" class="validate">
            <label for="Cedula">Cédula</label>
  				</div>
  				<div class="col m6 input-field">
  					<input placeholder="12345678" name="CDM" type="text" class="validate">
            <label for="CDM">Registro del CDM</label>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col m12 center">
  					<button class="waves-effect waves-light btn blue darken-1" type="submit">Registrar</button>
  				</div>
  			</div>
  		</form>
  	</div>
  </div>
</main>
